__pycache__
*.pyc
*.pyo
.env
.env.*
!.env.project.template
!.env.mongo.template
.git
.gitignore
*.md
docs/
logs/
static/img/*
!static/img/void.png
celerybeat-schedule.*
docker-compose*.yml
!.dockerignore
.venv
venv
*.egg-info
node_modules
static/dist
build
